body {
	background: var(--third-color);
	font-family: arial;
}

/*my website color palette*/
:root {
	/*dark blue*/
	--first-color: #394a51; 
	
	/*light blue*/
	--second-color: #7fa99b; 

	/*sand*/
	--third-color: #fbf2d5; 

	/*light orange*/
	--fourth-color: #fdc57b; 
	/*--button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }*/
}

.secondary {
	background: var(--fourth-color);
	font-family: cursive;
}

h1{
	background: var(--second-color);
	padding: 10px 10px 10px 10px;
	color: black;
	text-align: center;
}
h2 {
	font-family: "Marker Felt", fantasy;
	background: var(--fourth-color);
	padding: 10px 10px;
	margin: 30px 200px;
	color: black;
	text-align: center;
}

.blerp {
	align-items: center;
	background: var(--first-color);
	border-radius: 35px;
	display: inline-block;
	height: 370px;
	justify-content: center;
	margin-bottom: 20px;
	margin-right: 20px;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	vertical-align: top;
	width: 277.5px;
}

.blerpImage {
	display: inline-block;
	width: 300px;
	height: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	border-radius: 35px;
	vertical-align: top;
}

.blerpText {
	font-size:20px;
	color: var(--fourth-color);
	text-align: center;
	line-height: 2;
	white-space: pre-wrap;
}

.video-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-15%);
}

/*MAXES CHART*/
.maxes-chart {
	border-collapse: collapse;
	width: 100%;
  }
  
.maxes-chart th, .maxes-chart td {
	border: 1.5px solid var(--first-color);
	padding: 10px;
	text-align: left;
  }
  
.maxes-chart th {
	background-color: var(--second-color);
  }
  
.maxes-chart tbody tr:nth-child(even) {
	background-color: var(--fourth-color);
  }
  
/*link general*/
a {
	text-decoration: none; /*this removes the line under the link*/
}

/*unvisited link*/
a:link {
	color: var(--second-color);
}

a:visited {
	color: var(--second-color);
}

a:hover{
	color: var(--fourth-color);
}

/*timeline stuff*/
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
	padding: 10px 40px;
}
.container{
    padding: 10px 0px;
    position: relative;
    width:45%;
}
.text-box{
    padding: 10px 20px;
    background: #fdc57b;
    position: center;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
	width: 45%;
	padding: 10px 0px;
    left: 0;
}
.right-container{
	padding: 10px 20px;
    left: 53%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 0%;
    right: -60px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -50px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #394a51;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
.text-box h3{
    font-weight: 600;
}
.text-box small{
    display: block;
    margin-bottom: 15px;
}
.left-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fdc57b;
	right: -15px;
}
.right-container-arrow{
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fdc57b;
	left: 5px;
}